<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: darkgrey;">
    <center>
        <h1 style="color: crimson;">The Raise Of The Knight Kingdom</h1>
        <h1 style="color: darkred;">Knight Riders</h1>
        <h1 style="color: maroon;">The Raise of DARK</h1>
        <h1 style="color: red;">Dark Shadow</h1>
        <h1 style="color: rgb(156, 9, 105);">I Am The DVIL in my World</h1>
    </center>
</body>
</html>